@import "../../../variables.scss";

.textInput {
  padding: 8px;
  border: 2px solid $tertiary;
  border-radius: 4px;
  background-color: $white;
  color: inherit;
  font-size: 1rem;

  &::placeholder {
    opacity: .5;
    color: inherit;
  }

  &:is(.fieldInvalid > input[pinputtext]) {
    border-color: $error;
  }

  &:focus {
    border-color: $primary;
    box-shadow: none;
  }
}