<h1>
  Calendrier
</h1>

<div class="formContainer">
  <form [formGroup]="formGroup">
    <div class="form-field">
      <label for="period">Période</label>
      <p-calendar
        [formControlName]="'period'"
        view="month"
        dateFormat="mm/yy"
        appendTo="body"
        placeholder="Période"
        (onSelect)="onDateChanged()"
      ></p-calendar>
    </div>
  </form>
</div>

<div class="calendar-container">
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let day of weekDays" class="text-center header-day p-4">
          {{ day }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let week of calendar">
        <td
          *ngFor="let day of week"
          class="calendar-cell"
          [ngClass]="{
            'week-cell': isWeekend(day),
            'public-holiday-cell': isPublicHoliday(day)
          }"
        >
          <div class="d-flex flex-column h-100">
            <div class="flex-grow-1"></div>
            <p
              *ngIf="isPublicHoliday(day)"
              [ngClass]="{
                'public-holiday-cell-text': isPublicHoliday(day)
              }"
            >
              {{ getPublicHolidayName(day) }}
              <button
                type="button"
                class="showButton"
                (click)="onClickEditButton(day)"
                *ngxPermissionsOnly="['CAN_PATCH_PUBLIC_HOLIDAYS']"
              >
                Modifier
              </button>
            </p>
            <button
              *ngIf="isEmployerWtrDay(day)"
              type="button"
              class="showButton"
            >
              RTT Employeur
            </button>
            <button
              *ngIf="isAbsenceDay(day)"
              type="button"
              class="showButtonAbsence"
            >
              Demande d'absence
            </button>
            <div class="text-right day-number">{{ day }}</div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<p class="remaining">
  {{data.remainingPaidLeaves}} congés payés restants<br />
  {{data.remainingEmployeeWtr}} RTT employé restantes
</p>

<app-employeur-wtr-edit-dialog
  *ngIf="currentPublicHoliday"
  [(visible)]="isDialogVisible"
  [publicHoliday]="currentPublicHoliday"
/>