@import "../../../variables.scss";

.badge {
  padding: 4px 8px;
  border-radius: 4px;
  background-color: $tertiary;
  color: $white;
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 700;
}