<app-dialog [(visible)]="visible">
  <ng-template #header>
    Modification
  </ng-template>

  <ng-template #body>
    <app-form [formGroup]="formGroup" [method]="formMethod" [action]="formAction" (postSubmit)="postSubmit($event)">
      <app-checkbox [formGroup]="formGroup" name="worked" label="Jour ouvré" />

      <app-form-footer>
        <button type="button" class="cancelButton" (click)="onClose()">
          Annuler
        </button>

        <button type="submit" class="saveButton">
          Enregistrer
        </button>
      </app-form-footer>
    </app-form>
  </ng-template>
</app-dialog>