<div class="login-main-body">
  <img
    class="logo-login"
    src="/assets/login/leftSideLogin.svg"
    alt="logo absencia"
  />
  <div class="login-container">
    <h1>Connexion</h1>

    <form (submit)="onLogin($event)" [formGroup]="formGroup">
      <app-text-input
        [formGroup]="formGroup"
        type="text"
        name="email"
        label="email"
        placeholder="email"
      />
      <div *ngIf="formErrors.email" class="error-message">
        {{ formErrors.email }}
      </div>

      <app-text-input
        [formGroup]="formGroup"
        type="password"
        name="password"
        label="mot de passe"
        placeholder="mot de passe"
      />
      <div *ngIf="formErrors.password" class="error-message">
        {{ formErrors.password }}
      </div>

      <app-form-footer>
        <button type="submit" class="button button__submit">
          Se connecter
        </button>
      </app-form-footer>
    </form>
  </div>
</div>
