<h1>
  Demandes d'absence

  <a routerLink="create" class="button createButton" *ngxPermissionsOnly="['CAN_POST_ABSENCE_REQUEST']">
    <i class="pi pi-plus"></i>

    <span class="label">
      Créer une demande d'absence
    </span>
  </a>
</h1>

<app-absence-request-table [absenceRequests]="absenceRequests" (openEditDialog)="openEditDialog()" (openDeleteDialog)="openDeleteDialog()" />

<p class="remaining">
  {{remainingPaidLeaves}} congés payés restants<br />
  {{remainingEmployeeWtr}} RTT employé restantes
</p>