@import "../../../../variables.scss";

.createButton {
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 8px;
  border-radius: 4px;
  background-color: $success;
  color: $white;
  transition: background-color .2s;

  &:hover {
    background-color: scale-color($success, $alpha: -25%);
  }
}

.remaining {
  line-height: 1.25;
  margin-top: 8px;
  text-align: end;
}