<h1>
  Demandes d'absence

  <a routerLink="create" class="createButton" *ngxPermissionsOnly="['CAN_POST_ABSENCE_REQUEST']">
    <i class="pi pi-file-edit"></i>

    <span class="createButton__label">
      Créer une demande d'absence
    </span>
  </a>
</h1>

<app-absence-request-table [absenceRequests]="absenceRequests ?? []" />

<p class="remaining">
  {{remainingPaidLeaves}} congés payés restants<br />
  {{remainingEmployeeWtr}} RTT employé restantes
</p>

<p-toast position="top-right" [style]="{ top: '75px' }"></p-toast>