@import "../../../variables.scss";

.formContainer {
  display: flex;
  margin-bottom: 8px;
}

.calendar-container {
  width: 100%;
  overflow-x: auto;
  margin-bottom: 8px;

  .table {
    margin: 0;

    th {
      padding: 16px;
      background-color: $primary;
      color: $white;
      text-align: center;
    }

    td {
      padding: 0;
      border-right: 1px solid $light;
    }
  }
}

.remaining {
  text-align: end;
}