<app-form-field [formGroup]="formGroup" [control]="formGroup.get(name)!" [label]="label">
  <ng-container *ngIf="segmented; else default">
    <p-selectButton [formControlName]="name" [options]="options" />
  </ng-container>

  <ng-template #default>
    <p-dropdown [formControlName]="name" [placeholder]="placeholder" [options]="options">
      <ng-template pTemplate="dropdownicon">
        <i class="pi pi-caret-down"></i>
      </ng-template>
    </p-dropdown>
  </ng-template>
</app-form-field>