@import "../../../variables.scss";

:host::ng-deep p-dropdown {
  .p-dropdown {
    width: 100%;
    padding: 8px;
    border: 2px solid $tertiary;
    border-radius: 4px;

    &:is(.fieldInvalid .p-dropdown) {
      border-color: $error;
    }

    .p-inputtext {
      color: inherit;
    }

    .p-placeholder {
      opacity: .5;
      color: inherit;
    }
  }

  .p-focus {
    border-color: $primary;
    box-shadow: none;
  }

  .p-dropdown-trigger .pi {
    display: block;
  }
}