<h1 class="list-title">Liste des demandes d'absence</h1>
<div class="overflow-auto" style="max-height: 550px">
  <p-table
    styleClass="p-datatable-striped"
    [value]="absenceRequests"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Type</th>
        <th>Début</th>
        <th>Fin</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-absenceRequests>
      <tr>
        <td>{{ absenceRequests.absence.type | absenceType }}</td>
        <td>{{ absenceRequests.absence.startedAt | date }}</td>
        <td>{{ absenceRequests.absence.endedAt | date }}</td>
        <td>{{ absenceRequests.status | absenceRequestStatus }}</td>
        <td>
          <button
            type="button"
            class="button"
            (click)="deleteAbsenceRequest(absenceRequests)"
          >
            Supprimer
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-toast position="top-right" [style]="{ top: '75px' }"></p-toast>
