@import "../../variables.scss";

.alert {
  display: flex;
  align-items: flex-start;
  column-gap: 8px;
  padding: 8px;
  border-radius: 4px;
  background-color: $secondary;
  color: scale-color($secondary, $lightness: -50%);

  &__message {
    flex-grow: 1;
    font-style: italic;
  }

  &__closeButton {
    border: none;
    background: none;
    color: inherit;

    .pi {
      display: block;
    }
  }
}

.title {
  color: $tertiary;
  letter-spacing: -1px;
}

.paragraph {
  color: $tertiary;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  &__footer {
    display: flex;
    justify-content: flex-end;
    column-gap: 4px;
  }
}

.field {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  color: $tertiary;

  &:not(&Invalid):focus-within {
    color: $primary;
  }

  &Invalid {
    color: $error;
  }

  &__label {
    padding: 0 10px;
    font-size: .75rem;
    font-weight: 700;
    transition: color .2s;
  }

  &__error {
    padding: 0 10px;
    color: $error;
    font-size: .75rem;
    font-weight: 700;
  }
}

.button {
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: $tertiary;
  color: $white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  transition: background-color .2s;

  &:hover {
    background-color: scale-color($tertiary, $alpha: -25%);
  }

  &__submit {
    background-color: $success;
    color: $white;

    &:hover {
      background-color: scale-color($success, $alpha: -25%);
    }
  }
}