@import "../../variables.scss";

.form {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.field {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  color: $tertiary;

  &__label {
    color: inherit;
    font-size: .75rem;
    font-weight: 700;
    transition: color .2s;
  }

  &:focus-within {
    color: $primary;
  }
}