<div class="login">
  <span class="login__logo">
    Absencia
  </span>

  <div class="login__formContainer">
    <app-form
      [formGroup]="formGroup"
      [method]="formMethod"
      [action]="formAction"
      (postSubmit)="onPostSubmit($event)"
    >
      <h1>
        Connexion
      </h1>

      <app-text-input
        [formGroup]="formGroup"
        type="text"
        name="email"
        label="Email"
        placeholder="Email"
      />

      <app-text-input
        [formGroup]="formGroup"
        type="password"
        name="password"
        label="Mot de passe"
        placeholder="Mot de passe"
        autocomplete="current-password"
      />

      <app-form-footer>
        <button type="submit" class="button button__submit">
          Se connecter
        </button>
      </app-form-footer>
    </app-form>
  </div>
</div>