<div>
  <!--Sidebar-->
  <p-sidebar #sidebarRef [(visible)]="sidebarVisible" class="my-side-menu">
    <ul class="menu-item-list">
      <h1>Général</h1>
      <li>
        <a
          [href]="routeToDashboard"
          [class.menu-item-selected]="isActive(routeToDashboard)"
          class="menu-item p-ripple"
        >
          <i class="pi pi-home"></i>
          <span class="menu-label">Accueil</span>
        </a>
      </li>
    </ul>
  </p-sidebar>

  <!--Navbar-->
  <div id="main-content">
    <div
      *ngIf="isLogged"
      class="align-items-center justify-content-between"
      style="display: flex"
    >
      <!--Gauche-->
      <div class="align-items-center" style="display: flex">
        <div class="visible-mobile">
          <button
            pButton
            type="button"
            icon="pi pi-bars"
            class="p-button-rounded p-button-outlined ml-2"
            (click)="toggleSidebar(true)"
          ></button>
        </div>

        <a
          pButton
          type="button"
          label="Accueil"
          [routerLink]="routeToDashboard"
          class="p-button-outlined no-border hidden-mobile"
          [class.menu-item-desktop-selected]="isActive(routeToDashboard)"
        ></a>
      </div>

      <!--Droite-->
      <div class="align-items-center" style="display: flex">
        <label>Bonjour, {{ firstName }}</label>
        <button
          pButton
          type="button"
          icon="pi pi-power-off"
          class="p-button-outlined p-button-secondary p-button-rounded m-2"
          (click)="onLogOut()"
        ></button>
      </div>
    </div>

    <!--Body-->
    <div [ngClass]="{ 'navbar-shadow': isLogged }" class="body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
