.menu-item-selected {
  color: rgb(30, 144, 255) !important;
  background: rgba(30, 144, 255, 0.25) !important;
}

.menu-item {
  font-weight: 700;
  font-size: 12px;
  margin-top: 20px;
  border-radius: 10px;
  background: white;
  color: #26292780;
}

.menu-item:hover {
  color: rgb(30, 144, 255) !important;
  background: rgba(30, 144, 255, 0.25) !important;
}

.menu-item-list {
  background: none;
  list-style-type: none;
  li {
    height: 2em;
  }
}

.menu-item-list:hover {
  li {
    cursor: pointer;
  }
}

.body {
  background-color: rgb(255, 255, 255);
}

.navbar-shadow {
  box-shadow: rgba(30, 144, 255, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px inset;
}

.menu-item-desktop-selected {
  background: rgba(30, 144, 255, 0.25);
}

a {
  text-decoration: none;
}

.visible-mobile {
  display: none !important;
}

.hidden-mobile {
  display: block !important;
}

@media only screen and (max-width: 1440px) {
  .visible-mobile {
    display: block !important;
  }

  .hidden-mobile {
    display: none !important;
  }
}
