<ng-container *ngIf="!employerWtrAndPublicHolidays.length; else table">
  <div class="noResults">
    Aucun résultat.
  </div>
</ng-container>

<ng-template #table>
  <p-table [value]="employerWtrAndPublicHolidays">
    <ng-template pTemplate="header">
      <tr>
        <th>
          Date
        </th>

        <th>
          Type
        </th>

        <th>
          Libellé
        </th>

        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-employerWtrOrAbsenceRequest>
      <tr>
        <td>
          {{employerWtrOrAbsenceRequest.date}} ({{getWeekDay(employerWtrOrAbsenceRequest.date)}})
        </td>

        <td>
          <app-badge>
            {{getType(employerWtrOrAbsenceRequest)}}
          </app-badge>
        </td>

        <td>
          {{employerWtrOrAbsenceRequest.label}}
        </td>

        <td>
          <div class="actions">
            <ng-container *ngIf="isPublicHolidayUpdatable(employerWtrOrAbsenceRequest)">
              <button class="button updateButton" (click)="onClickUpdatePublicHolidayButton(employerWtrOrAbsenceRequest)" *ngxPermissionsOnly="'CAN_UPDATE_PUBLIC_HOLIDAY'">
                <i class="pi pi-file-edit"></i>

                <span class="label">
                  Modifier
                </span>
              </button>
            </ng-container>

            <ng-container *ngIf="isEmployerWtrUpdatable(employerWtrOrAbsenceRequest)">
              <button class="button updateButton" (click)="onClickUpdateEmployerWtrButton(employerWtrOrAbsenceRequest)" *ngxPermissionsOnly="'CAN_UPDATE_EMPLOYER_WTR'">
                <i class="pi pi-file-edit"></i>

                <span class="label">
                  Modifier
                </span>
              </button>
            </ng-container>

            <ng-container *ngIf="isEmployerWtrDeletable(employerWtrOrAbsenceRequest)">
              <button class="button deleteButton" (click)="onClickDeleteEmployerWtrButton(employerWtrOrAbsenceRequest)" *ngxPermissionsOnly="'CAN_DELETE_EMPLOYER_WTR'">
                <i class="pi pi-trash"></i>

                <span class="label">
                  Supprimer
                </span>
              </button>
            </ng-container>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <app-employer-wtr-update-dialog [(visible)]="employerWtrUpdateDialogVisible" [employerWtr]="employerWtr" (onUpdate)="onUpdate($event)" />

  <app-public-holiday-update-dialog [(visible)]="publicHolidayUpdateDialogVisible" [publicHoliday]="publicHoliday" (onUpdate)="onUpdate($event)" />

  <app-employer-wtr-delete-dialog [(visible)]="employerWtrDeleteDialogVisible" [employerWtr]="employerWtr" (onDelete)="onDelete($event)" />
</ng-template>