<p-table [value]="absenceRequests">
  <ng-template pTemplate="header">
    <tr>
      <th>
        Début
      </th>

      <th>
        Fin
      </th>

      <th>
        Type
      </th>

      <th>
        Motif
      </th>

      <th></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-absenceRequest>
    <tr>
      <td>
        {{absenceRequest.startedAt|date}}
      </td>

      <td>
        {{absenceRequest.endedAt|date}}
      </td>

      <td>
        <app-badge>
          {{absenceRequest.type|absenceType}}
        </app-badge>
      </td>

      <td>
        {{absenceRequest.reason}}
      </td>

      <td>
        <div class="actions">
          <button type="button" class="button updateButton" (click)="onClickEditButton()" *ngxPermissionsOnly="['CAN_PATCH_ABSENCE_REQUEST']">
            <i class="pi pi-file-edit"></i>

            <span class="label">
              Modifier
            </span>
          </button>

          <button type="button" class="button deleteButton" (click)="onClickDeleteButton()" *ngxPermissionsOnly="['CAN_DELETE_ABSENCE_REQUEST']">
            <i class="pi pi-trash"></i>

            <span class="label">
              Supprimer
            </span>
          </button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<app-absence-request-edit-dialog [(visible)]="editDialogVisible" [absenceTypeOptions]="absenceTypeOptions" />

<app-absence-request-delete-dialog [(visible)]="deleteDialogVisible" />