@import "../../../variables.scss";

.alert {
  display: flex;
  align-items: flex-start;
  column-gap: 8px;
  padding: 8px;
  border-radius: 4px;
  background-color: $secondary;
  color: scale-color($secondary, $lightness: -50%);

  &__message {
    flex-grow: 1;
    color: inherit;
    font-style: italic;
  }

  &__closeButton {
    border: none;
    background: none;
    color: inherit;

    .pi {
      display: block;
    }
  }
}

.badgeList {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.cancelButton {
  padding: 8px;
  background: none;
  color: $tertiary;
  transition: background-color .2s;

  &:hover {
    background-color: lighten($tertiary, 50%);
  }
}

.submitButton {
  padding: 8px;
  background-color: $success;
  color: $white;
  transition: background-color .2s;

  &:hover {
    background-color: darken($success, 10%);
  }
}