@import "./variables.scss";

p-calendar {
  .p-calendar {
    width: 100%;

    .p-inputtext {
      padding: 8px;
      border: 2px solid $tertiary;
      border-radius: 4px;
      box-shadow: none;
      color: inherit;

      &::placeholder {
        opacity: .5;
        color: inherit;
      }

      &:is(.fieldInvalid .p-inputtext) {
        border-color: $error;
      }

      &:focus {
        border-color: $primary;
      }
    }
  }
}

p-dropdown {
  .p-dropdown {
    width: 100%;
    padding: 8px;
    border: 2px solid $tertiary;
    border-radius: 4px;

    &:is(.fieldInvalid .p-dropdown) {
      border-color: $error;
    }

    .p-inputtext {
      color: inherit;
    }

    .p-placeholder {
      opacity: .5;
      color: inherit;
    }
  }

  .p-focus {
    border-color: $primary;
    box-shadow: none;
  }

  .p-dropdown-trigger .pi {
    display: block;
  }

  .p-component.p-overlay {
    top: 40px !important;
    left: -2px !important;

    .p-dropdown-item {
      padding: 8px;
    }
  }
}

.p-selectbutton {
  display: flex;

  .p-button {
    flex-grow: 1;
    padding: 8px;
    border: 2px solid $tertiary;
    box-shadow: none;
    background-color: $white;
    color: $tertiary;

    &:is(.fieldInvalid .p-button) {
      border-color: $error;
      color: $error;
    }

    &:not(:last-child) {
      border-right: none;
    }

    &:first-child {
      border-radius: 4px 0 0 4px;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
    }

    &.p-highlight {
      background-color: $tertiary;
      color: $white;

      &:is(.fieldInvalid .p-highlight) {
        background-color: $error;
        color: $white;
      }
    }
  }
}