@import "../../../../variables.scss";

.cancelButton {
  padding: 8px;
  background: none;
  color: $tertiary;
  transition: background-color .2s;

  &:hover {
    background-color: lighten($tertiary, 50%);
  }
}

.submitButton {
  padding: 8px;
  background-color: $success;
  color: $white;
  transition: background-color .2s;

  &:hover {
    background-color: darken($success, 10%);
  }
}